/* .container{
    width: 90%;
    margin: 0px auto;
}
.flex{
    display: flex;
    align-items: center;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
ul li a{
    padding: 8px 16px;
}
.current-menu{
    background: rgba(255, 0, 115, 0.145);

    
 